#headtitle {
	width: 80%;
	font-size: 16px;
	padding-top: 15px;
	text-align: center;
	margin-left: 2%;
	color: white;
	float: left;
	padding:0;
	font-size:14px;
	display:table;
}

sub.abc{
	height: 0px;
	line-height: 0px;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;top:2px;

}
sup.abcd{
	height: 0px;
	line-height: 0px;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;top:-5px;
}

#headertxt{
	display:table-cell;
	height:44px;
	vertical-align:middle;
	color:#1a2155;
}

.appli{
	font-size: 20px; 
	color:#1a2155;
	font-family: DINpro;
	text-align: center;
	margin: 0px auto;
	width: 100%;
	padding-top: 8px;
	float: none;font-weight:bold;
}

.trouble{
	font-size: 22px; 
	color:#1a2155;
	font-family: DINpro;
	text-align: center;
	margin: 0px auto;
	width: 100%;
	padding-top: 11px;
	float: none;font-weight:bold;
}

.troubleissu{
	text-align: center;
	margin: 0px auto;
	width: 87%;
	padding-top: 13px;
	float: left;
	color: #1a2155;
	font-size: 16px;
	line-height: 15px;
	font-family: DINpro;
	font-weight: bold;
}

#headertitlesub {
	width: 76%;
	text-align: center;
	margin-left: 0%;
	color: white;
	float: left;
	font-size: 14px;
	display: table;
}

#headertitle1 {
	width: 48%;
	text-align: center;
	margin-left: 15%;
	color: white;
	float: left;
	font-size:14px;
	display:table;
}

#headertitle img{
	width: 25px;
	height: 24px;
	float:right;
}

#headtxt{
	width:100%;
	text-align: center;
	color: #1a2155 !important;
	float: none;
	display:table-cell;
	height:44px;
	vertical-align:middle;
	padding:0;
	font-size: 18px !important;
	line-height: 15px;
}

#headertitle2 {
	width: 20%;
	text-align: center;
	margin-left: 2%;
	color: white;
	float: left;
	padding:0;
	font-size:14px;
	display:table;
}

#headertitle3 {
	text-align: center;
	margin-left: 2%;
	color: white;
	float: left;
	padding:0;
	font-size:14px;
	display:table;
}

@media only screen and (min-width: 355px) and (max-width: 600px) and (orientation: portrait){
	#headtxt{
		font-family:DINpro-medium;
		font-weight:bold;
		text-align: center;
		width:100%;
		text-align: center;
		color: #1a2155 !important;
		float: none;
		display:table-cell;
		height:44px;
		vertical-align:middle;
		padding:0;
		font-size: 15px !important;
		line-height: 7px;
	}
}