/* A few IE bug fixes */
* { 
	margin: 0; 
	padding: 0; 
}

* html ul ul li a { 
	height: 100%; 
}

* html ul li a { 
	height: 100%; 
}

* html ul ul li {
	 margin-bottom: -1px; 
 }
 
@font-face{
	font-family: DINPro-medium;
	src: url(../../fonts/DINPro-Medium.ttf);
}	
	
body{
	font-family: DINPro-medium;
	font-weight:bold;
	color:#000;
	font-size:12px;
}
	
a:focus {
	-moz-outline: none;
}

a {
	outline: 0;
}
	
h2{
	font-size:13px;
	color:#003366;
	margin:10px;
}	

h3{
	font-size:12px;
	color:#003366;
	margin:10px;
}	
	
#navigation {
	margin:0px 0 0 0px;
	padding:0px;
	text-indent:0px;
	width:100%;
}

#navigation ul {
	border-width:0px;
	margin:0px 5px 0 10px;
	padding:0px;
	text-indent:0px;
}

#navigation ul ul {
	border-width:0px;
	margin:0px 0 0 0px;
	padding:0px;
    text-indent:0px;
	font-size:12px;
}

a{
	color:#003366;
}
	
a:hover{
	color:#003366;
}
	
a{
	text-decoration:none;
}
		
/* Some list and link styling */
ul li { 
	width: 100%;
	line-height:28px;   
	font-family:DINPro-medium;
}
	
ul#navigation ul li {  
	padding:0px; 
	width: 88%; 
	margin: 0;
	line-height:30px ;
}

ul#navigation ul#xtraMenu li {  
	padding:0px; 
	width: 88%; 
	margin: 0;
	line-height:22px ;
	background:none;
}

ul ul li a { 
	display:block; 
	color:003366f; 
	padding-left:5px;
	font-size:18px; 
}

ul ul li h4 { 
	display:block;  
}

ul ul li a:hover { 
	display:block; 
}

/* For the xtra menu */
ul ul ul li { 
	border-left: none;  
	padding: 0; 
	width: 100%; 
	margin-bottom: 0; 
}

ul ul ul li a { 
	display:block;   
}

ul ul ul li a:hover { 
	display:block;  
}

li { 
	list-style-type: none; 
}
				
/* Header links styling */
h3.head{
}
	
h3.head a { 
	cursor:pointer;
	display:block;
	line-height:25px;
	margin:0px;
	padding:0px;
	text-decoration: none;
	font-size:22px;
}

h3.head a:hover { 
	color:#003366;
}

h3#selected a{
	background:#96a4ae;
	color:#fff;
}	

h3.selected a { 
}

/* Xtra Header links styling */
h4.head a { 
	cursor:pointer;
	display:block;
	line-height:22px;
	margin:0px;
	padding:0px;
	text-decoration: none;
	font-size:14px;
	background:none;
	font-weight:normal;
}

h4.head a:hover { 
	color:#003366;
}

h4.selected{
	border-bottom:none;
}	

div.clr{
	clear:both;
}

a.act{
	color:#003366;
}

div.app_side_menu{
	border-bottom:1px solid silver;
	padding:10px 0;
	width:99.8%;
}

div.apptrouble{
	line-height:61px;
	font-size:17px;
	float:left;
	border-right:1px solid #edecf0;
	width :100%;
}

div.apptrouble a{
    padding-left:15px;
}

div.app{
    line-height:61px;
    font-size:17px;
    float:left;
    height:1024px;
    border-right:1px solid #edecf0;
    width :100%;
	margin-left: 20px;
}

div.app a{
    padding-left:2px;
}

div#status{
    display:none;
}

/* Style for iscroll */
#wrapper_new {
	position: absolute;
	overflow:hidden;
	z-index: 1;
	top: 44px;
	bottom: 48px;
	width: 100%;
	min-height:90%;

	/* Prevent native touch events on Windows */
	-ms-touch-action: none;

	/* Prevent the callout on tap-hold and text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* Prevent text resize on orientation change, useful for web-apps */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller {
	position: absolute;
	z-index: 1;
	width:100%;
	min-height:101%;
	
	/* Prevent elements to be highlighted on tap */
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	/* Put the scroller into the HW Compositing layer right from the start */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}   
/* Style for iscroll ends*/