/* A few IE bug fixes */
* { 
	margin: 0; 
	padding: 0; 
}

* html ul ul li a { 
	height: 100%; 
}

* html ul li a { 
	height: 100%; 
}

* html ul ul li { 
	margin-bottom: -1px; 
}
	
@font-face{
	font-family: DINPro-medium;
	src: url(../../fonts/DINPro-Medium.ttf);
}

html {
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

html {
	heght:100%;
}
		
body{
	font-family: DINPro-medium;
	color:#000;
	font-size:15px;
	margin:5px;
}

a:focus {
	-moz-outline: none;
}

h1{
	font-size:14px;
	margin-bottom:15px;
	background: url(../../QPCR-images/top-bg2.jpg) 0% 0% repeat-x;
	color:#f9f9f9;
	padding-left:5px;
	height:30px;
	line-height:30px;
}	

h2{
	font-size:22px;
	color:#000000;
	margin:10px 10px 10px 10px;
	font-family:DINPro-medium;
}	

h3{
	font-size:18px;
	color:#003366;
	margin:10px;
}	

b.qst{
	color:#003366;
	font-weight:normal;
	font-size:18px;
}	
	
#navigation {
	margin:0px 0 0 5px;
	padding:0px;
	text-indent:0px;
	width:100%;
}

#navigation ul {
	border-width:0px;
	margin:0px 5px 0 10px;
	padding:0px;
	text-indent:0px;
}

#navigation ul ul {
	border-width:0px;
	margin:0px 0 0 0px;
	padding:0px;
	text-indent:0px;
	font-size:12px;
}

a{
	color:#003366;
}

a:hover{
	color:#003366;
}	

a{
	text-decoration:none;
}
		
/* Some list and link styling */
ul li { 
	width: 100%;
	line-height:28px; 
}

ul#navigation ul li { 
	padding:0px; 
	width: 88%; 
	margin: 0;
	line-height:28px ;
	background: url(../../QPCR-images/Fav_unselect.png) 0% 0px no-repeat;
	padding-left:35px;
 }
 
ul#navigation ul#xtraMenu li { 
	padding:0px; 
	width: 88%; 
	margin: 0;
	line-height:28px ;
	background:none;
 }
 
ul ul li a { 
	display:block; 
	background: url(../../QPCR-images/arrow1.png) no-repeat scroll 100% 0%;  
}

ul ul li h4 { 
	display:block; 
	background: url(../../QPCR-images/arrow1.png) no-repeat scroll 100% 0%;  
}

ul ul li a:hover { 
	display:block; 
}

/* For the xtra menu */
ul ul ul li { 
	border-left: none;  
	padding: 0; 
	width: 100%; 
	margin-bottom: 0; 
}

ul ul ul li a { 
	display:block;   
}

ul ul ul li a:hover { 
	display:block;  
}

li { 
	list-style-type: none; 
}
				
/* Header links styling */
h3.head{
	border-bottom:1px solid silver;
	background: url(../../QPCR-images/arrow1.png) no-repeat scroll 100% 17px;
}	

h3.head a { 
	cursor:pointer;
	background: url(../../QPCR-images/Fav_unselect@2x.png) no-repeat scroll 3px 6px;
	display:block;
	line-height:55px;
	margin:0px;
	padding:0px;
	text-indent:62px;
	text-decoration: none;
	font-size:14px;
}

h3.head a:hover { 
	color:#003366;
}

h3.selected{
	border-bottom:none;
	background: url(../../QPCR-images/arrow_down.png) no-repeat scroll 100% 17px;
}	
		
h3.selected a { 
	background: url(../../QPCR-images/Fav_unselect@2x.png) no-repeat scroll 3px 6px;
}

/* Xtra Header links styling */
h4.head a { 
	cursor:pointer;
	display:block;
	line-height:30px;
	margin:0px;
	padding:0px;
	text-indent:8px;
	text-decoration: none;
	font-size:14px;
	background:none;
	font-weight:normal;
}

h4.head a:hover { 
	color:#003366;
}

h4.selected{
	border-bottom:none;
	background: url(../../QPCR-images/arrow_down.png) no-repeat scroll 100% 8px;
}	

div.clr{
	clear:both;
}

div#act{
	color:red;
}	
						
div.back{
	margin:5px;
	display:none;
}	
	
div.content{
	margin:0 auto;
	width:100%;
}	
		
div.content p{
	line-height:26px;
	font-size:12px;
	text-align: justify;
	margin:10px;
}
	
div.content p span{
	color:#ff0000;
	font-size:11px;
}	

div.content p span.small{
	color:#000;
	font-size:15px;
}	
	
div.content ul,div.content ol{
	margin:5px  5px 10px 5px;
}
	
div.content ul li{
	background: url(../../QPCR-images/bullet.png) 0% 9px no-repeat;
	text-indent:13px;
}	

div.content ol li{
	line-height:20px;		
}

div.back {
	height: 19px;
	margin:5px auto 10px  auto;
	width: auto;
	position:relative;
	clear:both;
}

div.back img{
	height: 19px;
	position: fixed;
	top: 10px;
	width: 49px;
	z-index: 100;
}

div.prev {
	height: 23px;
	margin: 0px auto;
	width: auto;
	position:relative;
	text-align:right;
}

a {
	outline: 0;
}

div.prev img{
	height: 25px;
	position: fixed;
	top: 8px;
	right:10px;
	width: 24px;
	z-index: 100;
	display:none;
}	

div.bg {
	height: 32px;
	margin:0px auto ;
	width: auto;
	position:relative;
	clear:both;
}

div.bg p{
	height: 32px;
	position: fixed;
	top: 5px;
	width: 100%;
	z-index: 99;
	background:silver;
	background: url(../../QPCR-images/top-bg.jpg) 0% 0% repeat-x;
}				

ul#xtraMenu ul{
	margin-left:5px;
}		

div.subContent	{
	width:100%;
	min-height:120px;
	border-bottom:1px solid silver;
	position:relative;
}

div.subContent        a.arrow_link{
	position:absolute;
	top: 35px;
	right:5px;
}

div.footer{
	width:100%;
	background:#def1ff;
	line-height:80px;
	display:none;
}	

div.footer .ft1{
	float:left;	
	width:25%;
	color:#003366;
	padding-left:10px;
}

div.footer .ft2{
	float:right;	
	width:70%;
	margin-top:15px;
}

div.rightDiv b{
	color:#4b4b4b;
	text-align:left;
}

div.content2 div.rightDiv p{
	text-align: left;
	width:88%;
}

div.subContent	div.leftDiv{
	width:25%;
	float:left;
}

div.subContent	div.rightDiv{
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
}
	
div.rightDiv p img{
	float:left;
	padding-right:10px;
}

div.subContent	div.rightDiv ul{
	margin-left:0;
}

div.subContent	div.rightDiv ul li{
	background:none;
}	

div.subContent	div.rightDiv ul li a{
	color:#003366;
}
	
div.subContent	div.rightDiv ul li a:hover{
	color:#003366;
}
		
ul.hide,a.hide{
}

div.leftmenu{
	width:38%;
	float:left;
	border-right:1px solid #edecf0;
}

div.content2{
	margin:0 auto;
	width:61%;
	float:left;
	margin-bottom:250px;
	width:99%;
}	
		
div.content2 p{
	line-height:26px;
	font-size:100%;
	margin:10px;
}
	
div.content2 p span{
	color:#ff0000;
	font-size:11px;
}	

div.content2 p span.small{
	color:#000;
	font-size:18px;
}	
	
div.content2 ul,div.content2 ol{
	margin:5px  5px 10px 5px;
}
	
div.content2 ul li{
	background: url(../../QPCR-images/bullet.png) 0% 9px no-repeat;
	text-indent:13px;
	font-size:120%;
}	

div.content2 ol li{
	line-height:20px;
	font-size:120%;
}

div.steps{
	width:35%;
	float:left;
}
		
div.app{
	width:100%;
	float:left;
	height:1500px;
}
		
div.app  div.img img{
	width:61px;
	height:61px;
}	

div.app  div.img{
	float:left;
	width:45px;
	height:40px;
}

div.app  div.desc{
	float:left;
	line-height:61px;
	font-size:18px;
	margin-left:17px;
}

div.wrap_steps{
	width:97%;
	margin:0 auto;
}				

div.steps  div.step1{
	float:left;
}

div.steps div.stepdesc{
	float:left;
	font-size:14px;
	height:55px;
	padding-top:5px;
	width:77%;
}	
	
div.view{
	width:100%;
	margin-top:100px;
}	

div.view_t{
	float:left;
	width:50%;
	text-align:right;
}	
		
div.view_s{
	float:left;
	width:50%;
	text-align:left;
}			

p#taqhead,p#sybhead{
	font-size:16px;
	color:#003366;
	font-weight:bold;
	margin:0 0 10px 10px;
	padding:0;
}
	
div.back_app {
	height: 19px;
	margin:5px auto 10px  auto;
	width: auto;
	position:relative;
	clear:both;
	display:none;
}

div.back_app img{
	height: 19px;
	position: fixed;
	top: 45px;
	width: 49px;
	z-index: 100;
}	
	
div#s1,div#s11{
	background:  url(../../QPCR-images/01image.png) 0% 0% repeat ;
	width:260px;
	height:152px;    text-align:center;
}   

div#s2,div#s22{
	background: url(../../QPCR-images/02image.png) 0% 0% no-repeat;
	width:260px;
	height:152px;
	text-align:center;
}   
    
div#s3,div#s33{
	background: url(../../QPCR-images/03image.png) 0% 0% no-repeat;
	width:260px;
	height:152px;
	text-align:center;
}
       
div#s4,div#s44{
	background: url(../../QPCR-images/04image.png) 0% 0% no-repeat;
	width:260px;
	height:152px;
	text-align:center;
}
       
div#s5,div#s55{
	background: url(../../QPCR-images/05image.png) 0% 0% no-repeat;
	width:260px;
	height:152px;
	text-align:center;    
}   
    
div#s6,div#s66{
	background: url(../../QPCR-images/06image.png) 0% 0% no-repeat;
	width:260px;
	height:152px;
	text-align:center;
}  
     
div#s1 a,div#s2 a,div#s3 a,div#s4 a,div#s5 a,div#s6 a{
	padding-top:95px;
	display:block;
}  
 
div#s11 a,div#s22 a,div#s33 a,div#s44 a,div#s55 a,div#s66 a{
	padding-top:95px;
	display:block;
}                       

.newstep a    {
	width:260px;
	height:152px;
	text-align:center;
	background: url(../../QPCR-images/active-bg.png) 0% 0% no-repeat;
	padding-top:95px;
	display:block;
}   

#one,#step1,#step2,#step3,#step4,#step5,#step6,#step7,#step8,#step9,div.app a,div.step1 a,#step1s,#step2s,#step3s,#step4s,#step5s,#step6s,div.desc{
	font-family: DINPro-medium;
}

div.appmenu_new{
	background: url(../../QPCR-images/workflow-btn.png) 0% 0% no-repeat;
	width:100px;
	height:26px;
	margin:5px auto;
	text-align:center;
}     
   
div.appmenu_new a{
	color:#fff;
	line-height:25px;
	font-weight:bold;
	font-size:16px;
	font-family:DINPro-medium;
}

div.appmenu{
	position:relative;
	text-align:center;
	width:53px;
	height:32px;
	display:none;
	margin-bottom:2px;
}

div.appmenu a{
	height: 32px;
	position: fixed;
	top:4px;
	left:3px;
	width: 53px;
	z-index: 100;
	line-height:25px;
	background: url(../../QPCR-images/back-btn1.png) 0% 0% no-repeat;
	color:#fff;
	text-indent:-99999px;
}

div.app_side_menu{
	border-bottom:1px solid silver;
	padding:10px 0;
	width:100%;
}

div#status{
	display:none;
}

div.app{
	float:left;
	background:#edecf0;
	height:1500px;
}

div.wrap_steps{
	border-right:1px solid #edecf0;
}

#wrapper {
	position:absolute;
	z-index:1;
	top:45px; bottom:48px; left:0;
	width:100%;
	overflow:auto;
}

#scroll-content {
	position:absolute;
	z-index:1;
	width:100%;
}

.bk{
	float:left;
	height:32px;
	padding-top:5px;
	padding-left:15px;
}

.hm{
	float:left;
	height:32px;
	padding-top:5px;
	padding-left:15px;
}

li a:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fff));
	background: -moz-linear-gradient(top, #AEB4B8, #AEB4B8);
	-moz-box-shadow: 0px 0px 17px #AEB4B8;
	-webkit-box-shadow: 0px 0px 17px #AEB4B8;
	box-shadow: 0px 0px 17px #AEB4B8;
}